.FooterIcon {
  font-size: 2em;
  display: inline;
  padding: 5px;
}

.FooterIcon__link {
  color: #9E9E9E;
  transition: color 0.25s ease;
}

.FooterIcon__link:active {
  color: #fff;
  text-decoration: none;
}

.FooterIcon__link:hover {
  color: #fff;
  text-decoration: none;
}

.FooterIcon__link:focus {
  color: #fff;
}
