.Card {
  width: 100%;
  min-height: 20em;
  background-color: #fff;
  /*border-bottom: 5px solid #ff6e5a;*/
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding: 1em;
  padding-bottom: 2em;
  animation: fadein-right 1s;
  margin-bottom: 2em;
}

.Card h1 {
  font-family: "Source Sans Pro";
}

.Card__content {
  line-height: 1.5em;
}
