.Header {
  background: #000;
  height: 300px;
  padding: 10px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Header__content {
  text-align: center;
  animation: fadein-down 1s;
}

.Header__title {
  font-size: 4em;
  color: #fff;
  font-family: "Source Sans Pro";
  font-weight: 300;
}

.Header__subtitle {
  font-size: 1.5em;
  color: #9E9E9E;
  font-weight: 300;
}
