.Footer {
  width: 100%;
  padding: 1em 0;
  background-color: #000;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.link-list {
  padding: 0;
  list-style-type: none;
  animation: fadein-up 1s;
}

.link-list__item {
  display: inline;
  margin-right: 2em;
}

.link-list__item:last-child {
  margin-right: 0;
}
