.Footer {
  width: 100%;
  padding: 1em 0;
  background-color: #000;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Footer__logo {
  display: block;
  margin: 0 auto;
  width: 30px;
}

.link-list {
  padding: 0;
  list-style-type: none;
}

.link-list__item {
  display: inline;
  margin-right: 2em;
}

.link-list__item:last-child {
  margin-right: 0;
}
